body {
  margin: 0;
  font-family: Consolas;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/src/assets/white_netscape_crop.png);
  background-size: cover;
}

code {
  font-family:Consolas;
}
